#rule1 {
    background-color: green;
    width: 100%;
    font-weight: bold;
    border-style: solid;
    border-color: blue;

}

p.token.key {
    color: red;
}

.nav-item {

    color: red;

    transition: color 2s;

}